@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    primary: mat.$cyan-palette,
  )
));

html {
  @include mat.all-component-themes($theme);
}

mat-form-field {
  width: 100%;
}

.conversion-area {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

.conversion-area mat-form-field {
  flex: 1 1 200px;
}

.conversion-area .opposite-arrows {
  flex: 0 0 auto;
}

.conversion-area .convert-button {
  flex: 0 0 auto;
}
